/* colors
#42B132 - green
#E4000F - red
#FCD000 - yellow */

*{
margin: 0;
margin-block-start: 0px;
margin-block-end: 0px;
}

body {
  background: url("assets/background.png") no-repeat center center fixed;
  background-size: cover;
  font-family: 'New Super Mario Font U', sans-serif;
  color: white;
  text-shadow: 3px 3px 3px #E4000F ;
}

.wrapper {
  background-color: rgba(255,255,255,.5);
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 100vh;
}

h1 {
  font-size: 50px;
  margin-top: 40px;
}

h2 {
  font-size: 64px;
}

h3 {
  font-size: 42px;
  padding: 10px;
}

h4 {
  font-size: 32px;
  padding:10px;
}

/* GAME BOARD DESIGN */
.middle-section {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.super-header {
  margin-top: 40px
}

.game-board-section {
  margin-top: 40px;
  max-width: 65%;
  max-height: 65%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
}

.game-board-pieces {
  border: 4px solid #E4000F;
  height: 150px;
  width: 150px;
}

.left-1, .left-2, .left-3 {
  border-left: 0px;
}

.left-1, .mid-1, .right-1 {
  border-top: 0px;
}

.right-1, .right-2, .right-3 {
  border-right: 0px;
}

.left-3, .mid-3, .right-3 {
  border-bottom: 0px;
}

/* Side bar area */
.name-input {
  font-size:larger;
  margin: 10px;
}

::placeholder {
  font-family: 'New Super Mario Font U', sans-serif;
}

hr {
  border: 1px solid #42B132;
  width: 100%;
}

.left-side {
  border-right: 3px solid #FCD000;
}

.right-side-bar {
  border-left:3px solid #42B132;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.right-side {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.radio-section {
  width: 115px;
  height: 115px;
}

.radio-section img {
  width: 100%;
  height: 100%;
}

button {
  font-family: 'New Super Mario Font U', sans-serif;
  font-size: larger;
  cursor: pointer;
  background-color: #E4000F;
  color: white;
  border-radius: 6px;
  padding: 10px;
  margin: 5px;
  margin-top: 20px;
  margin-bottom: 20px;
}

button:disabled {
  background-color:#e4000f6c;
  color: rgb(172, 172, 172);
  cursor: default;
}

.hidden {
  display: none;
}